 /* Stylesheet for Asciidoctor */

div#footer-text {
  color: #EEE;
  margin-top: 1em;
  visibility: hidden;
}
pre.highlight{
  background:#EEE;
  padding-top: 1em;
  padding-right: 0px;
  padding-bottom: 1em;
  padding-left: 0px;
}
.conum[data-value] {
  background-color:rgba(0,0,0,.8);
  border-radius:100px;
  color:#fff!important;
  display:inline-block;
  font-size:.75em;
  font-style:normal;
  font-weight:bold
  height:1.67em;
  line-height:1.67em;
  text-align:center;
  width:1.67em;
}
.conum[data-value] * {
  color:#fff!important
}
.conum[data-value]+b {
  display:none
}
.conum[data-value]:after {
  content:attr(data-value)
}
.title {
  font-style:italic
}
