# Backupfiles from mergetools #
*.orig

# Java Class Files #
*.class

# Package Files #
*.jar
*.zip

*.log

# Eclipse #
.project
.classpath
bin
classes

# IntelliJ IDEA #
/.idea

# Maven #
target/
.surefire-*
.flattened-pom.xml

# node
node_modules/
dist/
test-results/
pnpm-lock.yaml
