# Backupfiles from mergetools #
*.orig

# Java Class Files #
*.class

# Package Files #
*.jar
*.zip

*.log

# Eclipse #
code/.project
code/.settings
bin
classes

# Maven #
target/
.surefire-*
.flattened-pom.xml
