<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.scout.service.services">
      <service
            factory="org.eclipse.scout.rt.client.services.ClientServiceFactory"
            class="org.eclipsescout.demo.widgets.client.services.LocalCodeService"
            session="org.eclipsescout.demo.widgets.client.ClientSession">
      </service>
   </extension>
</plugin>
