<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.scout.service.services">
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="org.eclipsescout.demo.widgets.shared.services.IStandardOutlineService">
      </proxy>
      <service
            factory="org.eclipse.scout.rt.client.services.ClientServiceFactory"
            class="org.eclipse.scout.rt.shared.services.common.code.SharedCodeService"
            session="org.eclipsescout.demo.widgets.client.ClientSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.client.services.ClientServiceFactory"
            class="org.eclipsescout.demo.widgets.client.services.ClientAccessControlService"
            session="org.eclipsescout.demo.widgets.client.ClientSession">
      </service>
   </extension>

</plugin>
