/**
 * CSS definitions used for the client-side generated html content (is directly included in the rwt-index.html)
 * <p>
 * Defines for example the default link color for inline html in table cells.
 */
a{color:#67a8ce;}
