<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.scout.service.services">
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipse.scout.rt.server.services.common.bookmark.FileSystemBookmarkStorageService"
            session="org.eclipsescout.demo.bahbah.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipse.scout.rt.server.services.common.workflow.WorkflowProviderService"
            session="org.eclipsescout.demo.bahbah.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipsescout.demo.bahbah.server.services.custom.security.AccessControlService"
            session="org.eclipsescout.demo.bahbah.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipsescout.demo.bahbah.server.services.process.UserProcessService"
            session="org.eclipsescout.demo.bahbah.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipsescout.demo.bahbah.server.services.common.sql.DerbySqlService"
            session="org.eclipsescout.demo.bahbah.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipsescout.demo.bahbah.server.services.outline.StandardOutlineService"
            session="org.eclipsescout.demo.bahbah.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipsescout.demo.bahbah.server.services.process.NotificationProcessService"
            session="org.eclipsescout.demo.bahbah.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipsescout.demo.bahbah.server.services.process.IconProcessService"
            session="org.eclipsescout.demo.bahbah.server.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipsescout.demo.bahbah.server.services.process.PasswordProcessService"
            session="org.eclipsescout.demo.bahbah.server.ServerSession">
      </service>
   </extension>
   <extension
         name=""
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/auth"
            class="org.eclipsescout.demo.bahbah.server.servlet.BahBahAuthenticationServlet">
      </servlet>
      <servlet
            alias="/process"
            class="org.eclipse.scout.rt.server.ServiceTunnelServlet">
         <init-param
               name="min-version"
               value="0.0.0">
         </init-param>
      </servlet>
      <servlet
            alias="/remotefiles"
            class="org.eclipse.scout.rt.server.RemoteFileServlet">
      </servlet>
      <servlet
            alias="/updatesite"
            class="org.eclipse.scout.rt.server.RemoteFileServlet">
         <init-param
               name="folder"
               value="/updatesite">
         </init-param>
      </servlet>
      <servlet
            alias="/"
            class="org.eclipse.scout.rt.server.ResourceServlet">
         <init-param
               name="bundle-name"
               value="org.eclipsescout.demo.bahbah.server">
         </init-param>
         <init-param
               name="bundle-path"
               value="/resources/html">
         </init-param>
      </servlet>
      <servlet
            alias="/ajax"
            class="org.eclipse.scout.rt.server.ServiceTunnelServlet">
      </servlet>
   </extension>
   <extension
         name=""
         point="org.eclipse.scout.http.servletfilter.filters">
      <filter
            aliases="/process /remotefiles /updatesite"
            class="org.eclipsescout.demo.bahbah.server.security.BasicForwardSecurityFilter"
            ranking="20">
      </filter>
      <filter
            aliases="/"
            class="org.eclipse.scout.rt.server.ServerJobServletFilter"
            ranking="30">
         <init-param
               name="active"
               value="true">
         </init-param>
         <init-param
               name="session"
               value="org.eclipsescout.demo.bahbah.server.ServerSession">
         </init-param>
      </filter>
   </extension>
   <extension
         id="app"
         name="Server Application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipsescout.demo.bahbah.server.ServerApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         name=""
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipsescout.demo.bahbah.server.app"
            name="bahbah Server">
         <property
               name="appName"
               value="bahbah Server">
         </property>
      </product>
   </extension>
</plugin>
