<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.scout.rt.testing.shared.app"
            name="minifigcreator TestApp Client">
         <property
               name="appName"
               value="minifigcreator TestApp Client">
         </property>
      </product>
   </extension>

</plugin>
