.popup-form-popup {
  background-color: @popup-background-color;
  border: 1px solid @border-color;
  border-radius: @border-radius;
  #scout.drop-shadow-large();
  max-width: 500px;
  padding: 0 10px;
  margin: 10px; /* minimum padding to window */
}

.popup-anchor {
  position: absolute;
  background-color: @palette-blue-3;
  border: 1px solid @palette-blue-5;
}
