/***************************************************
 * This file extends 'org.eclipse.scout.rt.ui.rap/theme/scout.css'.
 * Existing and additional styles can be set here.
 **************************************************/