<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>
<target name="ScoutRAP">
  <locations>
    <location path="${scout_rap_target}" type="Directory"/>
    <location path="${eclipse_home}\" type="Directory"/>
  </locations>
  <launcherArgs>
    <vmArgs>-Xms256m -Xmx512m -XX:MaxPermSize=256m</vmArgs>
  </launcherArgs>
</target>
