<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension id="app" name="Application" point="org.eclipse.core.runtime.applications">
    <application>
      <run class="org.eclipsescout.demo.minifigcreator.client.testapp.swing.SwingTestApplication"/>
    </application>
  </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipsescout.demo.minifigcreator.client.testapp.swing.app"
            name="minifigcreator TestApp Client">
         <property
               name="appName"
               value="minifigcreator TestApp Client">
         </property>
      </product>
   </extension>

</plugin>
