<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--

    Copyright (c) 2015 BSI Business Systems Integration AG.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Distribution License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/org/documents/edl-v10.html

    Contributors:
        BSI Business Systems Integration AG - initial API and implementation

-->
<configuration>

  <!-- This context listener is used to redirect log entries logged with JUL to SLF (e.g. JAX-WS Metro) -->
  <contextListener class="org.eclipse.scout.rt.platform.logger.AutoRegisteringJulLevelChangePropagator" />

  <variable scope="context" name="mdcPattern" value="principal=%X{subject.principal.name}, serverSession=%X{scout.session.id}, jobName=%X{scout.job.name}, cid=%X{scout.correlation.id}" />
  <variable scope="context" name="mdcPatternWithoutEmptyValues" value="%replace(${mdcPattern}){'(, )?\\w+=((?=\\1)|, |$)', ''}" />
  <variable scope="context" name="logPattern" value="%date{ISO8601} %-5level [%thread] %logger - %msg - MDC[${mdcPatternWithoutEmptyValues}]%n%ex" />

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
    <!-- Sample for Tomcat Log Folder -->
    <file>${catalina.base}/logs/org.eclipse.scout.contacts.server.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${catalina.base}/logs/org.eclipse.scout.contacts.server-%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>100</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${logPattern}</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="FILE" />
  </root>

  <logger name="org.eclipse.scout.rt.server.services.common.jdbc.internal.exec.StatementProcessor" level="WARN" />
  <logger name="org.eclipse.scout.rt.shared.services.common.exceptionhandler.LogExceptionHandlerService" level="WARN" />
  <logger name="org.eclipse.scout.rt.platform.internal.BeanFilter" level="WARN" />

</configuration>
