/***************************************************
 * This file extends 'org.eclipse.scout.rt.ui.rap/theme/scout.css'.
 * Existing and additional styles can be set here.
 **************************************************/
 
Button.toolButton-ToolButton1Tool {
  padding: 15px 15px;
  background-image: url( theme/img/button/tool/star_yellow.png );
  background-repeat: no-repeat;
}

Button.toolButton-active-ToolButton1Tool:selected {
  background-image: url( theme/img/button/tool/star_yellow.png );
  background-repeat: no-repeat;
}

Button.toolButton-active-ToolButton1Tool:selected:hover {
  background-image: url( theme/img/button/tool/star_yellow.png );
  background-repeat: no-repeat;
}

Button.toolButton-ToolButton1Tool:hover {
  background-image: url( theme/img/button/tool/star_yellow.png );
  background-repeat: no-repeat;
}

Button.toolButton-ToolButton1Tool:pressed {
  background-image: url( theme/img/button/tool/star_yellow.png );
  background-repeat: no-repeat;
}

Button.toolButton-ToolButton2Tool {
  padding: 15px 15px;
  background-image: url( theme/img/button/tool/star_red.png );
  background-repeat: no-repeat;
}

Button.toolButton-active-ToolButton2Tool:selected {
  background-image: url( theme/img/button/tool/star_red.png );
  background-repeat: no-repeat;
}

Button.toolButton-active-ToolButton2Tool:selected:hover {
  background-image: url( theme/img/button/tool/star_red.png );
  background-repeat: no-repeat;
}

Button.toolButton-ToolButton2Tool:hover {
  background-image: url( theme/img/button/tool/star_red.png );
  background-repeat: no-repeat;
}

Button.toolButton-ToolButton2Tool:pressed {
  background-image: url( theme/img/button/tool/star_red.png );
  background-repeat: no-repeat;
}
