<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.ui.perspectives">
      <perspective
            name="tutorial"
            fixed="true"
            class="org.eclipse.scout.tutorial.jaxws.ui.swt.perspective.Perspective"
            id="org.eclipse.scout.tutorial.jaxws.ui.swt.perspective.Perspective">
      </perspective>
   </extension>
   <extension
         name=""
         point="org.eclipse.ui.views">
      <view
            name="OutlineView"
            icon="resources/icons/eclipse_scout.gif"
            restorable="true"
            class="org.eclipse.scout.tutorial.jaxws.ui.swt.views.OutlineView"
            id="org.eclipse.scout.tutorial.jaxws.ui.swt.views.OutlineView">
      </view>
      <view
            name="DetailView"
            icon="resources/icons/eclipse_scout.gif"
            restorable="true"
            class="org.eclipse.scout.tutorial.jaxws.ui.swt.views.DetailView"
            id="org.eclipse.scout.tutorial.jaxws.ui.swt.views.DetailView">
      </view>
      <view
            name="Center View"
            allowMultiple="true"
            icon="resources/icons/eclipse_scout.gif"
            restorable="true"
            class="org.eclipse.scout.tutorial.jaxws.ui.swt.views.CenterView"
            id="org.eclipse.scout.tutorial.jaxws.ui.swt.views.CenterView">
      </view>
      <view
            name="Table View"
            icon="resources/icons/eclipse_scout.gif"
            restorable="true"
            class="org.eclipse.scout.tutorial.jaxws.ui.swt.views.TableView"
            id="org.eclipse.scout.tutorial.jaxws.ui.swt.views.TableView">
      </view>
      <view
            name="Search View"
            icon="resources/icons/eclipse_scout.gif"
            restorable="true"
            class="org.eclipse.scout.tutorial.jaxws.ui.swt.views.SearchView"
            id="org.eclipse.scout.tutorial.jaxws.ui.swt.views.SearchView">
      </view>
      <view
            name="Progress View"
            icon="resources/icons/progress_view.gif"
            category="org.eclipse.ui"
            restorable="true"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="org.eclipse.ui.views.ProgressView">
      </view>
      <view
            name="East View"
            allowMultiple="true"
            icon="resources/icons/eclipse_scout.gif"
            restorable="true"
            class="org.eclipse.scout.tutorial.jaxws.ui.swt.views.EastView"
            id="org.eclipse.scout.tutorial.jaxws.ui.swt.views.EastView">
      </view>
   </extension>
   <extension
         name=""
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.scout.tutorial.jaxws.ui.swt.SwtStartup">
      </startup>
   </extension>
   <extension
         id="application"
         name="Application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.scout.tutorial.jaxws.ui.swt.application.Application">
         </run>
      </application>
   </extension>
   <extension
         name=""
         point="org.eclipse.ui.editors">
      <editor
            name="ScoutEditorPart"
            default="false"
            icon="resources/icons/eclipse_scout.gif"
            matchingStrategy="org.eclipse.scout.rt.ui.swt.window.desktop.editor.ScoutEditorMatchingStrategy"
            class="org.eclipse.scout.tutorial.jaxws.ui.swt.editor.ScoutEditorPart"
            id="org.eclipse.scout.tutorial.jaxws.ui.swt.editor.ScoutEditorPart">
      </editor>
   </extension>
   <extension
         id="product"
         name=""
         point="org.eclipse.core.runtime.products">
      <product
            name=""
            application="org.eclipse.scout.tutorial.jaxws.ui.swt.application">
         <property
               name="appName"
               value="tutorial">
         </property>
         <property
               name="windowImages"
               value="resources/icons/eclipseScout16x16.gif,resources/icons/eclipseScout32x32.gif">
         </property>
         <property
               name="applicationXMI"
               value="org.eclipse.platform/LegacyIDE.e4xmi">
         </property>
         <property
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_default">
         </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/org.eclipse.platform/images/">
         </property>
      </product>
   </extension>
   <extension
         name=""
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <dynamic
               class="org.eclipse.scout.tutorial.jaxws.ui.swt.application.menu.DesktopMenuBar"
               id="org.eclipse.scout.swt.menu.dynamic">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         name=""
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.scout.tutorial.jaxws.ui.swt.perspective.Perspective">
         <view
               minimized="false"
               relative="org.eclipse.ui.editorss"
               closeable="false"
               visible="false"
               relationship="left"
               id="org.eclipse.scout.tutorial.jaxws.ui.swt.views.OutlineView">
         </view>
         <view
               minimized="false"
               ratio="0.75"
               relative="org.eclipse.scout.tutorial.jaxws.ui.swt.views.OutlineView"
               closeable="true"
               visible="false"
               relationship="right"
               id="org.eclipse.scout.tutorial.jaxws.ui.swt.views.EastView">
         </view>
         <view
               minimized="false"
               ratio="0.25"
               relative="org.eclipse.scout.tutorial.jaxws.ui.swt.views.OutlineView"
               closeable="false"
               visible="false"
               relationship="right"
               id="org.eclipse.scout.tutorial.jaxws.ui.swt.views.TableView">
         </view>
         <view
               minimized="false"
               ratio="0.25"
               relative="org.eclipse.scout.tutorial.jaxws.ui.swt.views.TableView"
               closeable="false"
               visible="false"
               relationship="bottom"
               id="org.eclipse.scout.tutorial.jaxws.ui.swt.views.DetailView">
         </view>
         <view
               minimized="false"
               ratio="0.66"
               relative="org.eclipse.scout.tutorial.jaxws.ui.swt.views.TableView"
               closeable="false"
               visible="false"
               relationship="bottom"
               id="org.eclipse.scout.tutorial.jaxws.ui.swt.views.SearchView">
         </view>
         <view
               minimized="false"
               relative="org.eclipse.scout.tutorial.jaxws.ui.swt.views.TableView"
               closeable="true"
               visible="false"
               relationship="stack"
               id="org.eclipse.scout.tutorial.jaxws.ui.swt.views.CenterView">
         </view>
         <view
               minimized="false"
               ratio="0.75"
               relative="org.eclipse.scout.tutorial.jaxws.ui.swt.views.EastView"
               closeable="true"
               visible="false"
               relationship="bottom"
               id="org.eclipse.ui.views.ProgressView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
