<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension id="product" point="org.eclipse.core.runtime.products">
    <product
      application="org.eclipsescout.demo.bahbah.ui.rap.app"
      name="bahbah">
      <property
        name="appName"
        value="bahbah">
      </property>
    </product>
  </extension>
  <extension id="app" name="bahbah" point="org.eclipse.core.runtime.applications">
   <application>
     <run class="org.eclipse.scout.rt.ui.rap.RwtApplication"/>
   </application>
  </extension>
  <extension
    point="org.eclipse.scout.rt.ui.rap.lookAndFeel">
    <decorations
      scope="global">
      <mandatory>
        <starMarker
          placement="afterLabel">
        </starMarker>
      </mandatory>
    </decorations>
    <properties
      scope="global">
      <property
        name="formMainBoxBorder.visible"
        value="false">
      </property>
    </properties>
  </extension>
  <extension
    point="org.eclipse.rap.ui.entrypoint">
    <entrypoint
          brandingId="org.eclipsescout.demo.bahbah.ui.rap.branding.mobile"
          class="org.eclipsescout.demo.bahbah.ui.rap.MobileStandaloneRwtEnvironment"
          id="org.eclipsescout.demo.bahbah.ui.rap.mobile"
          path="/mobile">
    </entrypoint>
    <entrypoint
          brandingId="org.eclipsescout.demo.bahbah.ui.rap.branding.web"
          class="org.eclipsescout.demo.bahbah.ui.rap.StandaloneRwtEnvironment"
          id="default"
          path="/web"/>
    <entrypoint
          brandingId="org.eclipsescout.demo.bahbah.ui.rap.branding.tablet"
          class="org.eclipsescout.demo.bahbah.ui.rap.TabletStandaloneRwtEnvironment"
          id="org.eclipsescout.demo.bahbah.ui.rap.tablet"
          path="/tablet">
    </entrypoint>
  </extension>
  <extension point="org.eclipse.rap.ui.branding">
    <branding
          body="web-resources/startup-body.html"
          favicon="web-resources/bahbah.ico"
          id="org.eclipsescout.demo.bahbah.ui.rap.branding.web"
          themeId="org.eclipse.scout.rt.ui.rap.theme"
          title="BahBah">
          <additionalHeaders>
            <link href="res/html-styles.css" rel="stylesheet"/>
          </additionalHeaders>
    </branding>
    <branding
          body="web-resources/startup-body.html"
          favicon="web-resources/bahbah.ico"
          id="org.eclipsescout.demo.bahbah.ui.rap.branding.mobile"
          themeId="org.eclipse.scout.rt.ui.rap.mobile.theme"
          title="BahBah">
          <additionalHeaders>
            <link href="res/html-styles.css" rel="stylesheet"/>
            <meta
                 content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
                 name="viewport">
           </meta>
      	  </additionalHeaders>
    </branding>
    <branding
          body="web-resources/startup-body.html"
          favicon="web-resources/bahbah.ico"
          id="org.eclipsescout.demo.bahbah.ui.rap.branding.tablet"
          themeId="org.eclipse.scout.rt.ui.rap.mobile.theme"
          title="BahBah">
          <additionalHeaders>
            <link href="res/html-styles.css" rel="stylesheet"/>
            <meta
                 content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
                 name="viewport">
           </meta>
      	  </additionalHeaders>
    </branding>
  </extension>
  <extension point="org.eclipse.rap.ui.themes">
    <themeContribution file="theme/application.css" themeId="org.eclipse.scout.rt.ui.rap.theme"/>
  </extension>
  <extension point="org.eclipse.equinox.http.registry.resources">
    <resource alias="/res" base-name="/web-resources"/>
  </extension>
  <extension point="org.eclipse.scout.http.servletfilter.filters">
    <filter
      aliases="/"
      class="org.eclipsescout.demo.bahbah.server.security.BasicForwardSecurityFilter"
      ranking="20">
    </filter>
  </extension>
  <extension point="org.eclipse.scout.rt.extension.client.desktopExtensions">
      <desktopExtension
            active="true"
            class="org.eclipse.scout.rt.client.mobile.ui.desktop.DeviceTransformationDesktopExtension">
      </desktopExtension>
   </extension>
  <extension
        point="org.eclipse.equinox.http.registry.servlets">
     <servlet
           alias="/"
           class="org.eclipse.scout.rt.ui.rap.mobile.servlets.DeviceDispatcherServlet">
     </servlet>
  </extension>
</plugin>
