.simple-tile {
  color: white;
  background-color: @palette-blue-3;
  padding: 5px;

  &.selectable:hover {
    background-color: darken(@palette-blue-3, 10%);
  }

  &.color-alternative {
    background-color: @palette-red-3;

    &.selectable:hover {
      background-color: darken(@palette-red-3, 10%);
    }
  }

  &.inverted {
    color: @text-color;
    background-color: @palette-gray-1;
    border: 1px solid @border-color;

    &.selectable:hover {
      background-color: darken(@palette-gray-1, 10%);
    }
  }
}
