<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension id="product" point="org.eclipse.core.runtime.products">
    <product
      application="org.eclipsescout.demo.widgets.ui.rap.app"
      name="Scout Widget Demo App">
      <property
        name="appName"
        value="Scout Widget Demo App">
      </property>
    </product>
  </extension>
  <extension id="app" name="Scout Widget Demo App" point="org.eclipse.core.runtime.applications">
   <application>
     <run class="org.eclipse.scout.rt.ui.rap.RwtApplication"/>
   </application>
  </extension>
  <extension point="org.eclipse.scout.rt.ui.rap.lookAndFeel">
    <decorations
      scope="global">
      <mandatory>
        <starMarker
          placement="afterLabel">
        </starMarker>
      </mandatory>
    </decorations>
    <properties
      scope="global">
      <property
        name="formMainBoxBorder.visible"
        value="false">
      </property>
    </properties>
  </extension>
  <extension point="org.eclipse.rap.ui.entrypoint">
    <entrypoint
      class="org.eclipsescout.demo.widgets.ui.rap.StandaloneRwtEnvironment"
      id="org.eclipsescout.demo.widgets.ui.rap.entrypoint.web"
      brandingId="org.eclipsescout.demo.widgets.ui.rap.branding.web"
      path="/web"/>
    <entrypoint
      class="org.eclipsescout.demo.widgets.ui.rap.MobileStandaloneRwtEnvironment"
      id="org.eclipsescout.demo.widgets.ui.rap.entrypoint.mobile"
      brandingId="org.eclipsescout.demo.widgets.ui.rap.branding.mobile"
      path="/mobile"/>
    <entrypoint
      class="org.eclipsescout.demo.widgets.ui.rap.TabletStandaloneRwtEnvironment"
      id="org.eclipsescout.demo.widgets.ui.rap.entrypoint.tablet"
      brandingId="org.eclipsescout.demo.widgets.ui.rap.branding.tablet"
      path="/tablet"/>
  </extension>
  <extension point="org.eclipse.rap.ui.branding">
    <branding
      body="web-resources/startup-body.html"
      favicon="web-resources/eclipseScout.gif"
      id="org.eclipsescout.demo.widgets.ui.rap.branding.web"
      themeId="org.eclipse.scout.rt.ui.rap.theme"
      title="widgets">
      <additionalHeaders>
        <link href="res/html-styles.css" rel="stylesheet"/>
      </additionalHeaders>
    </branding>
    <branding
      body="web-resources/startup-body.html"
      favicon="web-resources/eclipseScout.gif"
      id="org.eclipsescout.demo.widgets.ui.rap.branding.mobile"
      themeId="org.eclipse.scout.rt.ui.rap.mobile.theme"
      title="widgets">
      <additionalHeaders>
        <link href="res/html-styles.css" rel="stylesheet"/>
        <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"></meta>
      </additionalHeaders>
    </branding>
    <branding
      body="web-resources/startup-body.html"
      favicon="web-resources/eclipseScout.gif"
      id="org.eclipsescout.demo.widgets.ui.rap.branding.tablet"
      themeId="org.eclipse.scout.rt.ui.rap.mobile.theme"
      title="widgets">
      <additionalHeaders>
        <link href="res/html-styles.css" rel="stylesheet"/>
        <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"></meta>
      </additionalHeaders>
    </branding>
  </extension>
  <extension point="org.eclipse.rap.ui.themes">
    <themeContribution file="theme/application.css" themeId="org.eclipse.scout.rt.ui.rap.theme"/>
    <themeContribution file="theme/application.css" themeId="org.eclipse.scout.rt.ui.rap.mobile.theme"/> 
  </extension> 
  <extension point="org.eclipse.equinox.http.registry.resources">
    <resource alias="/res" base-name="/web-resources"/>
  </extension>
  <extension point="org.eclipse.scout.rt.server.commons.filters">
    <filter
      aliases="/"
      class="org.eclipse.scout.rt.server.commons.servletfilter.security.AnonymousSecurityFilter"
      ranking="10">
       <init-param
             name="active"
             value="true">
       </init-param>
    </filter>
    <filter
          aliases="/"
          class="org.eclipse.scout.rt.ui.rap.servletfilter.LogoutFilter">
       <init-param
             name="active"
             value="true">
       </init-param>
    </filter>
  </extension>
  <extension point="org.eclipse.equinox.http.registry.servlets">
    <servlet
      alias="/"
      class="org.eclipse.scout.rt.ui.rap.mobile.servlets.DeviceDispatcherServlet">
    </servlet>
  </extension>
</plugin>
