<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Scout Widget Demo App"
            icon="resources/icons/eclipse_scout.gif"
            fixed="false"
            class="org.eclipsescout.demo.widgets.ui.swt.perspective.Perspective"
            id="org.eclipsescout.demo.widgets.ui.swt.perspective.Perspective">
      </perspective>
   </extension>
   <extension
         name=""
         point="org.eclipse.ui.views">
      <view
            name="Center View"
            allowMultiple="true"
            icon="resources/icons/eclipse_scout.gif"
            category="org.eclipsescout.demo.widgets.ui.swt.viewCategory"
            restorable="true"
            class="org.eclipsescout.demo.widgets.ui.swt.views.CenterView"
            id="org.eclipsescout.demo.widgets.ui.swt.views.CenterView">
      </view>
      <view
            name="West view"
            allowMultiple="true"
            icon="resources/icons/eclipse_scout.gif"
            category="org.eclipsescout.demo.widgets.ui.swt.viewCategory"
            restorable="true"
            class="org.eclipsescout.demo.widgets.ui.swt.views.WestView"
            id="org.eclipsescout.demo.widgets.ui.swt.views.WestView">
      </view>
      <view
            name="North view"
            allowMultiple="true"
            icon="resources/icons/eclipse_scout.gif"
            category="org.eclipsescout.demo.widgets.ui.swt.viewCategory"
            restorable="true"
            class="org.eclipsescout.demo.widgets.ui.swt.views.NorthView"
            id="org.eclipsescout.demo.widgets.ui.swt.views.NorthView">
      </view>
      <view
            name="North west view"
            allowMultiple="true"
            icon="resources/icons/eclipse_scout.gif"
            category="org.eclipsescout.demo.widgets.ui.swt.viewCategory"
            restorable="true"
            class="org.eclipsescout.demo.widgets.ui.swt.views.NorthWestView"
            id="org.eclipsescout.demo.widgets.ui.swt.views.NorthWestView">
      </view>
      <view
            name="North east view"
            allowMultiple="true"
            icon="resources/icons/eclipse_scout.gif"
            category="org.eclipsescout.demo.widgets.ui.swt.viewCategory"
            restorable="true"
            class="org.eclipsescout.demo.widgets.ui.swt.views.NorthEastView"
            id="org.eclipsescout.demo.widgets.ui.swt.views.NorthEastView">
      </view>
      <view
            name="East view"
            allowMultiple="true"
            icon="resources/icons/eclipse_scout.gif"
            category="org.eclipsescout.demo.widgets.ui.swt.viewCategory"
            restorable="true"
            class="org.eclipsescout.demo.widgets.ui.swt.views.EastView"
            id="org.eclipsescout.demo.widgets.ui.swt.views.EastView">
      </view>
      <view
            name="South view"
            allowMultiple="true"
            icon="resources/icons/eclipse_scout.gif"
            category="org.eclipsescout.demo.widgets.ui.swt.viewCategory"
            restorable="true"
            class="org.eclipsescout.demo.widgets.ui.swt.views.SouthView"
            id="org.eclipsescout.demo.widgets.ui.swt.views.SouthView">
      </view>
      <view
            name="South west view"
            allowMultiple="true"
            icon="resources/icons/eclipse_scout.gif"
            category="org.eclipsescout.demo.widgets.ui.swt.viewCategory"
            restorable="true"
            class="org.eclipsescout.demo.widgets.ui.swt.views.SouthWestView"
            id="org.eclipsescout.demo.widgets.ui.swt.views.SouthWestView">
      </view>
      <view
            name="South east view"
            allowMultiple="true"
            icon="resources/icons/eclipse_scout.gif"
            category="org.eclipsescout.demo.widgets.ui.swt.viewCategory"
            restorable="true"
            class="org.eclipsescout.demo.widgets.ui.swt.views.SouthEastView"
            id="org.eclipsescout.demo.widgets.ui.swt.views.SouthEastView">
      </view>
      <view
            name="Progress View"
            allowMultiple="false"
            icon="resources/icons/progress_view.gif"
            category="org.eclipse.ui"
            restorable="true"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="org.eclipse.ui.views.ProgressView">
      </view>
      <category
            name="widgets"
            id="org.eclipsescout.demo.widgets.ui.swt.viewCategory">
      </category>
   </extension>
   <extension
         name=""
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipsescout.demo.widgets.ui.swt.SwtStartup">
      </startup>
   </extension>
   <extension
         id="application"
         name="Application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipsescout.demo.widgets.ui.swt.application.Application">
         </run>
      </application>
   </extension>
   <extension
         name=""
         point="org.eclipse.ui.editors">
      <editor
            name="ScoutEditorPart"
            default="false"
            icon="resources/icons/eclipse_scout.gif"
            matchingStrategy="org.eclipse.scout.rt.ui.swt.window.desktop.editor.ScoutEditorMatchingStrategy"
            class="org.eclipsescout.demo.widgets.ui.swt.editor.ScoutEditorPart"
            id="org.eclipsescout.demo.widgets.ui.swt.editor.ScoutEditorPart">
      </editor>
   </extension>
   <extension
         id="product"
         name=""
         point="org.eclipse.core.runtime.products">
      <product
            name="Scout Widget Demo App"
            application="org.eclipsescout.demo.widgets.ui.swt.application">
         <property
               name="appName"
               value="Scout Widget Demo App">
         </property>
         <property
               name="applicationXMI"
               value="org.eclipse.platform/LegacyIDE.e4xmi">
         </property>
         <property
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_default">
         </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/org.eclipse.platform/images/">
         </property>
      </product>
   </extension>
   <extension
         name=""
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <dynamic
               class="org.eclipsescout.demo.widgets.ui.swt.application.menu.DesktopMenuBar"
               id="org.eclipse.scout.swt.menu.dynamic">
         </dynamic>
      </menuContribution>
   </extension>

</plugin>
