<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.eclipsescout.demo.widgets.ui.swing.rayo/src/main/java/org/eclipsescout/demo/widgets/ui/swing/rayo/Launcher.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipsescout.demo.widgets.ui.swing.rayo.Launcher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.bsiag.widgets.ui.swing"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dconfig.properties=&quot;${resource_loc:/org.eclipsescout.demo.widgets.ui.swing.rayo/src/main/resources/config.properties}&quot;&#13;&#10;-Dscout.beans.createTunnelToServerBeans=false&#13;&#10;-Djandex.rebuild=true&#13;&#10;-Dvisualvm.display.name=widgets-ui-swing-rayo-clientonly&#13;&#10;-Xms32m&#10;&#13;&#10;-Xmx512m&#10;&#13;&#10;-XX:MaxHeapFreeRatio=10&#10;&#13;&#10;-XX:MinHeapFreeRatio=5&#13;&#10;&#10;-XX:+UnlockExperimentalVMOptions&#13;&#10;&#10;-XX:+UseG1GC"/>
</launchConfiguration>
