<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipsescout.demo.bahbah.ui.swt.perspective.Perspective"
            fixed="true"
            id="org.eclipsescout.demo.bahbah.ui.swt.perspective.Perspective"
            name="bahbah"/>
   </extension>
   <extension
            point="org.eclipse.ui.views">
         <view
               class="org.eclipsescout.demo.bahbah.ui.swt.views.OutlineView"
               id="org.eclipsescout.demo.bahbah.ui.swt.views.OutlineView"
               name="OutlineView"
               icon="resources/icons/eclipse_scout.gif"
               restorable="true">
         </view>
         <view
               class="org.eclipsescout.demo.bahbah.ui.swt.views.DetailView"
               id="org.eclipsescout.demo.bahbah.ui.swt.views.DetailView"
               name="DetailView"
               icon="resources/icons/eclipse_scout.gif"
               restorable="true">
         </view>
         <view
               allowMultiple="true"
               class="org.eclipsescout.demo.bahbah.ui.swt.views.CenterView"
               icon="resources/icons/eclipse_scout.gif"
               id="org.eclipsescout.demo.bahbah.ui.swt.views.CenterView"
               name="Center View"
               restorable="true">
         </view>
         <view
               class="org.eclipsescout.demo.bahbah.ui.swt.views.TableView"
               id="org.eclipsescout.demo.bahbah.ui.swt.views.TableView"
               name="Table View"
               icon="resources/icons/eclipse_scout.gif"
               restorable="true">
         </view>
         <view
               class="org.eclipsescout.demo.bahbah.ui.swt.views.SearchView"
               id="org.eclipsescout.demo.bahbah.ui.swt.views.SearchView"
               name="Search View"
               icon="resources/icons/eclipse_scout.gif"
               restorable="true">
         </view>
     	 <view
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            icon="resources/icons/progress_view.gif"
            id="org.eclipse.ui.views.ProgressView"
            name="Progress View"
            restorable="true">
         </view>
         <view
             class="org.eclipsescout.demo.bahbah.ui.swt.views.EastView"
             icon="resources/icons/eclipse_scout.gif"
             id="org.eclipsescout.demo.bahbah.ui.swt.views.EastView"
             name="East View"
             restorable="true">
         </view>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipsescout.demo.bahbah.ui.swt.SwtStartup">
      </startup>
   </extension>
     <extension id="application" name="Application" point="org.eclipse.core.runtime.applications">
    <application>
      <run class="org.eclipsescout.demo.bahbah.ui.swt.application.Application"/>
    </application>
  </extension>
  <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipsescout.demo.bahbah.ui.swt.editor.ScoutEditorPart"
            default="false"
            icon="resources/icons/eclipse_scout.gif"
            id="org.eclipsescout.demo.bahbah.ui.swt.editor.ScoutEditorPart"
            matchingStrategy="org.eclipse.scout.rt.ui.swt.window.desktop.editor.ScoutEditorMatchingStrategy"
            name="ScoutEditorPart">
      </editor>
  </extension>
  <extension id="product" point="org.eclipse.core.runtime.products">
    <product
          application="org.eclipsescout.demo.bahbah.ui.swt.application"
          name="bahbah">
       <property
             name="appName"
             value="bahbah"/>
       <property
             name="windowImages"
             value="resources/icons/eclipseScout16x16.gif,resources/icons/eclipseScout32x32.gif,resources/icons/eclipse_scout.gif,resources/icons/eclipse_scout.gif,resources/icons/eclipse_scout.gif">
       </property>
    </product>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="menu:org.eclipse.ui.main.menu">
        <dynamic
              class="org.eclipsescout.demo.bahbah.ui.swt.application.menu.DesktopMenuBar"
              id="org.eclipse.scout.swt.menu.dynamic">
        </dynamic>
     </menuContribution>
  </extension>
  <extension
             point="org.eclipse.ui.perspectiveExtensions">
          <perspectiveExtension
                targetID="org.eclipsescout.demo.bahbah.ui.swt.perspective.Perspective">
             <view
                   closeable="false"
                   id="org.eclipsescout.demo.bahbah.ui.swt.views.OutlineView"
                   minimized="false"
                   relationship="left"
                   relative="org.eclipse.ui.editorss"
                   visible="false">
             </view>
             <view
                   closeable="true"
                   id="org.eclipsescout.demo.bahbah.ui.swt.views.EastView"
                   minimized="false"
                   ratio="0.75"
                   relationship="right"
                   relative="org.eclipsescout.demo.bahbah.ui.swt.views.OutlineView"
                   visible="false">
             </view>
             <view
                   closeable="false"
                   id="org.eclipsescout.demo.bahbah.ui.swt.views.TableView"
                   minimized="false"
                   ratio="0.25"
                   relationship="right"
                   relative="org.eclipsescout.demo.bahbah.ui.swt.views.OutlineView"
                   visible="false">
             </view>
             <view
                   closeable="false"
                   id="org.eclipsescout.demo.bahbah.ui.swt.views.DetailView"
                   minimized="false"
                   ratio="0.25"
                   relationship="bottom"
                   relative="org.eclipsescout.demo.bahbah.ui.swt.views.TableView"
                   visible="false">
             </view>
             <view
                   closeable="false"
                   id="org.eclipsescout.demo.bahbah.ui.swt.views.SearchView"
                   minimized="false"
                   ratio="0.66"
                   relationship="bottom"
                   relative="org.eclipsescout.demo.bahbah.ui.swt.views.TableView"
                   visible="false">
             </view>
             <view
                   closeable="true"
                   id="org.eclipsescout.demo.bahbah.ui.swt.views.CenterView"
                   minimized="false"
                   relationship="stack"
                   relative="org.eclipsescout.demo.bahbah.ui.swt.views.TableView"
                   visible="false">
             </view>
             <view
                   closeable="true"
                   id="org.eclipse.ui.views.ProgressView"
                   minimized="false"
                   ratio="0.75"
                   relationship="bottom"
                   relative="org.eclipsescout.demo.bahbah.ui.swt.views.EastView"
                   visible="false">
             </view>
          </perspectiveExtension>
   </extension>
</plugin>
